/* Copyright 2009, 2015 Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */
/* Global Values */
stage {
  font-family: "SF Pro Display","M+ 1c", Roboto, Cantarell, Sans-Serif;
  font-size: 9.75pt;
  font-weight: 400;
  color: #E6E6E6; }


/* Common Stylings */
.no-frequent-applications-label, .search-statustext {
  font-size: 2em;
  font-weight: bold; }

.workspace-switcher-container, .switcher-list, .resize-popup, .osd-window {
  color: #F6F6F6;
  background-color: rgba(44, 44, 44, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5); }

.workspace-thumbnails, #dash {
  background-color: rgba(44, 44, 44, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.show-apps .overview-icon, .app-well-app .overview-icon,
.grid-search-result .overview-icon, .list-search-result, .search-provider-icon {
  border-radius: 4px;
  padding: 6px;
  border: 2px solid transparent;
  transition-duration: 130ms;
  text-align: center; }

/* WIDGETS */
.shell-link {
  transition-duration: 100ms;
  border-radius: 4px;
  color: #8AB4F8;
}

.shell-link:hover {
  background-color: rgba(138, 180, 248, 0.08);
  color: #8AB4F8;
}

.shell-link:active {
  transition-duration: 200ms;
  background-color: rgba(138, 180, 248, 0.2);
  color: #8AB4F8;
}

.lowres-icon {
  icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.icon-dropshadow {
  icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

/* Entries */
StEntry {
  border-radius: 4px;
  padding: 8px;
  border-width: 1px;
  color: #E6E6E6;
  background-color: #2B2928;
  border-color: rgba(24, 23, 23, 0.5);
  selection-background-color: #94EBEB;
  selected-color: #000; }
  StEntry:insensitive {
    color: #8d8b8b;
    border-color: #302d2c;
    box-shadow: none; }
  StEntry StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: #FFF19E;
    padding: 0 4px; }
  StEntry StIcon.peek-password {
    icon-size: 1.09em;
    padding: 0 4px; }
  StEntry StLabel.hint-text {
    margin-left: 2px;
    color: rgba(230, 230, 230, 0.7); }

/* Buttons */
.notification-banner .notification-button, .hotplug-notification-item, .modal-dialog .modal-dialog-linked-button, .app-folder-dialog .folder-name-container .edit-folder-button, .lg-obj-inspector-button,
.button {
  min-height: 36px;
  min-width: 48px;
  padding: 0 8px;
  border: 0;
  border-radius: 4px;
  font-size: 10.5pt;
  font-weight: 500;
  color: #8AB4F8;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  text-shadow: none;
  icon-shadow: none;
  transition-duration: 100ms;
}

.notification-banner .notification-button:focus, .hotplug-notification-item:focus, .modal-dialog .modal-dialog-linked-button:focus, .app-folder-dialog .folder-name-container .edit-folder-button:focus, .lg-obj-inspector-button:focus,
.button:focus {
  color: #8AB4F8;
  background-color: rgba(138, 180, 248, 0.12);
  text-shadow: none;
  icon-shadow: none;
  box-shadow: 0 0 transparent;
}

.notification-banner .notification-button:hover, .hotplug-notification-item:hover, .modal-dialog .modal-dialog-linked-button:hover, .app-folder-dialog .folder-name-container .edit-folder-button:hover, .lg-obj-inspector-button:hover,
.button:hover {
  color: #8AB4F8;
  background-color: rgba(138, 180, 248, 0.08);
  border-color: transparent;
  box-shadow: 0 0 transparent;
  text-shadow: none;
  icon-shadow: none;
}

.notification-banner .notification-button:active, .hotplug-notification-item:active, .modal-dialog .modal-dialog-linked-button:active, .app-folder-dialog .folder-name-container .edit-folder-button:active, .lg-obj-inspector-button:active,
.button:active {
  color: #8AB4F8;
  background-color: rgba(138, 180, 248, 0.2);
  border-color: transparent;
  box-shadow: 0 0 transparent;
  text-shadow: none;
  icon-shadow: none;
  transition-duration: 200ms;
}

.notification-banner .notification-button:insensitive, .hotplug-notification-item:insensitive, .modal-dialog .modal-dialog-linked-button:insensitive, .app-folder-dialog .folder-name-container .edit-folder-button:insensitive, .lg-obj-inspector-button:insensitive,
.button:insensitive {
  color: rgba(255, 255, 255, 0.26);
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  text-shadow: none;
  icon-shadow: none;
}

.notification-banner .notification-button, .hotplug-notification-item, .modal-dialog .modal-dialog-linked-button {
  margin: 6px;
  margin-right: 0;
}

.notification-banner .notification-button:first-child, .hotplug-notification-item:first-child, .modal-dialog .modal-dialog-linked-button:first-child, .notification-banner .notification-button:last-child, .hotplug-notification-item:last-child, .modal-dialog .modal-dialog-linked-button:last-child, .notification-banner .notification-button:first-child:last-child, .hotplug-notification-item:first-child:last-child, .modal-dialog .modal-dialog-linked-button:first-child:last-child {
  border-radius: 4px;
}

.notification-banner .notification-button:last-child, .hotplug-notification-item:last-child, .modal-dialog .modal-dialog-linked-button:last-child, .notification-banner .notification-button:first-child:last-child, .hotplug-notification-item:first-child:last-child, .modal-dialog .modal-dialog-linked-button:first-child:last-child {
  margin-right: 6px;
  border-right-width: 0;
}

/* Check Boxes */
.check-box StBoxLayout {
  spacing: 8px;
}

.check-box StBin {
  transition-duration: 100ms;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 18px;
}

.check-box StBin,
.check-box:focus StBin {
  background-image: url("assets/checkbox-off.svg");
}

.check-box:focus StBin {
  background-color: rgba(255, 255, 255, 0.12);
}

.check-box:hover StBin {
  background-color: rgba(255, 255, 255, 0.08);
}

.check-box:active StBin {
  transition-duration: 200ms;
  background-color: rgba(255, 255, 255, 0.2);
}

.check-box:checked StBin,
.check-box:checked:focus StBin {
  background-image: url("assets/checkbox.svg");
}

.check-box:checked:focus StBin {
  background-color: rgba(138, 180, 248, 0.08);
}

.check-box:checked:hover StBin {
  background-color: rgba(138, 180, 248, 0.08);
}

.check-box:checked:active StBin {
  background-color: rgba(138, 180, 248, 0.2);
}

/* Switches */
.toggle-switch {
  color: inherit;
  width: 40px;
  height: 20px;
  background-size: contain;
  background-image: url("assets/toggle-off.svg");
  transition-duration: 150ms;
}

.toggle-switch:checked {
  background-image: url("assets/toggle-on.svg");
}

/* Slider */
.slider {
  height: 20px;
  -barlevel-height: 2px;
  -barlevel-border-width: 0;
  -barlevel-border-color: transparent;
  -barlevel-background-color: rgba(255, 255, 255, 0.26);
  -barlevel-active-border-color: transparent;
  -barlevel-active-background-color: #8AB4F8;
  -barlevel-overdrive-color: #F28B82;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 6px;
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent;
}

.slider, .slider:hover, .slider:active {
  color: #8AB4F8;
}

/* Scrollbars */
StScrollView.vfade {
  -st-vfade-offset: 32px;
}

StScrollView.hfade {
  -st-hfade-offset: 32px;
}

StScrollBar {
  padding: 0px;
}

StScrollView StScrollBar {
  min-width: 12px;
  min-height: 16px;
}

StScrollBar StBin#trough {
  margin: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  transition-duration: 100ms;
  margin: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
  background-color: rgba(255, 255, 255, 0);
}

StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active {
  background-color: rgba(255, 255, 255, 0);
}

#overview StScrollBar StBin#trough, #unlockDialogNotifications StScrollBar StBin#trough {
  background-color: rgba(255, 255, 255, 0.12);
}

#overview StScrollBar StButton#vhandle, #unlockDialogNotifications StScrollBar StButton#vhandle,
#overview StScrollBar StButton#hhandle,
#unlockDialogNotifications StScrollBar StButton#hhandle {
  background-color: rgba(255, 255, 255, 0.5);
}

#overview StScrollBar StButton#vhandle:hover, #unlockDialogNotifications StScrollBar StButton#vhandle:hover,
#overview StScrollBar StButton#hhandle:hover,
#unlockDialogNotifications StScrollBar StButton#hhandle:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#overview StScrollBar StButton#vhandle:active, #unlockDialogNotifications StScrollBar StButton#vhandle:active,
#overview StScrollBar StButton#hhandle:active,
#unlockDialogNotifications StScrollBar StButton#hhandle:active {
  background-color: white;
}

/* Calendar */
.calendar .calendar-month-label {
  font-weight: bold;
  padding: 8px 0; }
.calendar .calendar-day-base {
  font-size: 8pt;
  font-feature-settings: "tnum"; }
  .calendar .calendar-day-base:hover, .calendar .calendar-day-base:focus {
    background-color: rgba(230, 230, 230, 0.1); }
  .calendar .calendar-day-base:active, .calendar .calendar-day-base:selected {
    background-color: #262423; }
  .calendar .calendar-day-base.calendar-day-heading {
    margin-top: 1em;
    font-size: 7pt; }
.calendar .calendar-today {
  font-weight: bold; }
.calendar .calendar-day-with-events {
  font-weight: bold;
  background-image: none; }
.calendar .calendar-week-number {
  font-size: 7pt;
  font-weight: bold; }

/* Modal Dialogs */
.headline {
  font-size: 12pt; }

.modal-dialog {
  border-radius: 8px; }
  .modal-dialog .modal-dialog-content-box {
    margin: 32px 40px;
    spacing: 32px;
    max-width: 28em; }

/* End Session Dialog */
.end-session-dialog {
  width: 30em; }

/* Message Dialog */
.message-dialog-content {
  spacing: 18px; }
  .message-dialog-content .message-dialog-title {
    text-align: center;
    font-size: 18pt;
    font-weight: 800; }
    .message-dialog-content .message-dialog-title.leightweight {
      font-size: 13pt;
      font-weight: 800; }
  .message-dialog-content .message-dialog-description {
    text-align: center; }

/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 12px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px; }
  .osd-window StIcon {
    icon-size: 6.54em; }
  .osd-window .osd-monitor-label {
    font-size: 3em; }
  .osd-window .level {
    height: 8px;
    -barlevel-height: 8px;
    -barlevel-background-color: rgba(238, 238, 236, 0.1);
    -barlevel-active-background-color: #eeeeec;
    -barlevel-overdrive-color: #F28B82;
    -barlevel-overdrive-separator-width: 3px; }

/* Pad OSD */
.pad-osd-window {
  padding: 32px;
  background-color: rgba(29, 29, 29, 0.975);
  color: #eeeeec; }
  .pad-osd-window .button:insensitive {
    color: #F7F7F7; }
  .pad-osd-window .pad-osd-title-box {
    spacing: 12px; }
  .pad-osd-window .pad-osd-title-menu-box {
    spacing: 6px; }

.combo-box-label {
  width: 15em; }

/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 24px; }

.switcher-list .item-box {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent; }
  .switcher-list .item-box:outlined {
    border: 1px solid #151515;
    background-color: rgba(238, 238, 236, 0.1);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.4); }
  .switcher-list .item-box:selected {
    background-color: rgba(238, 238, 236, 0.2);
    color: #eeeeec; }

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 6px; }

.switcher-list .thumbnail {
  width: 256px; }

.switcher-list .separator {
  width: 1px;
  background: #222222; }

.switcher-list .switcher-list-item-container {
  spacing: 12px; }

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: rgba(238, 238, 236, 0.8); }
  .switcher-arrow:highlighted {
    color: #eeeeec; }

.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px; }

.cycler-highlight {
  border: 5px solid #213f8c; }

/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list .switcher-list-item-container {
  spacing: 8px;
}

.switcher-list .item-box {
  transition-duration: 100ms;
  padding: 8px;
  border: 0;
  border-radius: 4px;
}

.switcher-list .item-box:outlined {
  padding: 8px;
  border: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.12);
  color: inherit;
}

.switcher-list .item-box:selected {
  background-color: rgba(138, 180, 248, 0.24);
  color: inherit;
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.12);
}

.switcher-arrow {
  transition-duration: 100ms;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.switcher-arrow:highlighted {
  color: rgba(255, 255, 255, 0.87);
}

.input-source-switcher-symbol {
  width: 96px;
  height: 96px;
  font-size: 48px;
  font-weight: 400;
}

.cycler-highlight {
  border: 4px solid #8AB4F8;
}

/* Workspace Switcher */
.workspace-switcher-group {
  padding: 8px;
}

.workspace-switcher {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  spacing: 8px;
}

.ws-switcher-box {
  height: 48px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
  background-size: 0;
}

.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 48px;
  border: 0;
  border-radius: 4px;
  background-color: #8AB4F8;
  background-size: 0;
  color: inherit;
}

/* TOP BAR */
#panel {
  background-color: rgba(0, 0, 0, 0.7);
  /* transition from solid to transparent */
  transition-duration: 250ms;
  font-weight: bold;
  height: 28px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 3px 5px rgba(0, 0, 0, 0.03), 0 5px 10px rgba(0, 0, 0, 0.02);
}

#panel:overview, #panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: rgba(0, 0, 0, 0.15);
}

#panel #panelLeft, #panel #panelCenter {
  spacing: 0;
}

#panel .panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: rgba(0, 0, 0, 0.15);
  -panel-corner-border-width: 2px;
  -panel-corner-border-color: transparent;
}

#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
  -panel-corner-border-color: white;
}

#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-corner.unlock-screen {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}

#panel .panel-corner StLabel {
  padding: 0 4px;
}

#panel .panel-button {
  -natural-hpadding: 8px;
  -minimum-hpadding: 8px;
  font-weight: bold;
  color: white;
  transition-duration: 150ms;
  border-radius: 6px;
}

#panel .panel-button StLabel {
  padding: 0 2px;
}

#panel .panel-button, #panel .panel-button:hover, #panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
  text-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

#panel .panel-button .system-status-icon,
#panel .panel-button .app-menu-icon > StIcon,
#panel .panel-button .popup-menu-arrow, #panel .panel-button:hover .system-status-icon,
#panel .panel-button:hover .app-menu-icon > StIcon,
#panel .panel-button:hover .popup-menu-arrow, #panel .panel-button:active .system-status-icon,
#panel .panel-button:active .app-menu-icon > StIcon,
#panel .panel-button:active .popup-menu-arrow, #panel .panel-button:overview .system-status-icon,
#panel .panel-button:overview .app-menu-icon > StIcon,
#panel .panel-button:overview .popup-menu-arrow, #panel .panel-button:focus .system-status-icon,
#panel .panel-button:focus .app-menu-icon > StIcon,
#panel .panel-button:focus .popup-menu-arrow, #panel .panel-button:checked .system-status-icon,
#panel .panel-button:checked .app-menu-icon > StIcon,
#panel .panel-button:checked .popup-menu-arrow {
  icon-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

#panel .panel-button .app-menu-icon {
  -st-icon-style: symbolic;
  height: 100;
  width: 0;
  margin-left: 0;
  margin-right: 0;
}

#panel .panel-button .popup-menu-arrow {
  width: 0;
  height: 0;
}

#panel .panel-button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

#panel .panel-button:active, #panel .panel-button:active:hover, #panel .panel-button:overview, #panel .panel-button:overview:hover, #panel .panel-button:focus, #panel .panel-button:focus:hover, #panel .panel-button:checked, #panel .panel-button:checked:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: none;
}

#panel .panel-button .system-status-icon {
  icon-size: 1.2307692308em;
  padding: 0 4px;
}

/* NEW */
/* Popovers/Menus */
.popup-menu-boxpointer, .candidate-popup-boxpointer {
  -arrow-base: 0;
  -arrow-rise: 0;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-border-radius: 20px;
  -arrow-box-shadow: none;
  -arrow-background-color: transparent;
}

.popup-menu {
  min-width: 15em;
  border-color: transparent;
  color: inherit;
}

.popup-menu.panel-menu {
  -boxpointer-gap: 4px;
  margin-bottom: 1.75em;
}

.popup-menu-content, .candidate-popup-content {
  margin: 5px 8px 8px;
  padding: 8px 0;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24), 0 3px 3px rgba(0, 0, 0, 0.345);
  background-color: #343434;
  color: rgba(255, 255, 255, 0.87);
}

.popup-menu-item {
  spacing: 8px;
  padding: 0;
  transition-duration: 100ms;
}

.popup-menu-item:ltr {
  padding: 0.4em;
  padding-right: 24px;
  padding-left: 0;
}

.popup-menu-item:rtl {
  padding: 0.4em;
  padding-right: 0;
  padding-left: 24px;
}

.popup-menu-item.selected {
  background-color: rgba(255, 255, 255, 0.08);
  transition-duration: 0ms;
}

.popup-menu-item.selected, .popup-menu-item.selected:active {
  color: rgba(255, 255, 255, 0.87);
}

.popup-menu-item:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.87);
  transition-duration: 200ms;
}

.popup-menu-item:checked {
  box-shadow: none;
  background-color: rgba(138, 180, 248, 0.24);
  font-weight: normal;
}

.popup-menu-item:checked.selected {
  background-color: rgba(138, 180, 248, 0.4);
}

.popup-menu-item:checked:active {
  background-color: rgba(138, 180, 248, 0.6);
}

.popup-menu-item:insensitive {
  color: rgba(255, 255, 255, 0.38);
}

.popup-inactive-menu-item {
  color: rgba(255, 255, 255, 0.87);
}

.popup-inactive-menu-item:insensitive {
  color: rgba(255, 255, 255, 0.38);
}

.popup-menu-arrow {
  icon-size: 16px;
}

.popup-menu-icon {
  icon-size: 16px;
}

.popup-sub-menu {
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.04);
}

.popup-menu-ornament {
  text-align: right;
  width: 16px;
  height: 16px;
}

.popup-separator-menu-item {
  padding: 0;
}

.popup-separator-menu-item .popup-separator-menu-item-separator {
  height: 1px;
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0.12);
}

.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator {
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0.12);
}

.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator:ltr {
  margin-right: 32px;
}

.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator:rtl {
  margin-left: 32px;
}

.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0;
}

.aggregate-menu {
  min-width: 21em;
}

.aggregate-menu .popup-menu-icon {
  padding: 0;
  margin: 0 4px;
  -st-icon-style: symbolic;
}

.aggregate-menu .popup-sub-menu .popup-menu-item > :first-child:ltr {
  padding-left: 16px;
  margin-left: 16px;
}

.aggregate-menu .popup-sub-menu .popup-menu-item > :first-child:rtl {
  padding-right: 16px;
  margin-right: 16px;
}

.unlock-screen #panel .panel-button, .login-screen #panel .panel-button, .lock-screen #panel .panel-button {
  color: white;
}

.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active, .login-screen #panel .panel-button:focus, .login-screen #panel .panel-button:hover, .login-screen #panel .panel-button:active, .lock-screen #panel .panel-button:focus, .lock-screen #panel .panel-button:hover, .lock-screen #panel .panel-button:active {
  color: white;
}

#panel .panel-button.clock-display:active .clock, #panel .panel-button.clock-display:overview .clock, #panel .panel-button.clock-display:focus .clock, #panel .panel-button.clock-display:checked .clock {
  background: none;
  box-shadow: none;
}

#panel .panel-status-indicators-box,
#panel .panel-status-menu-box {
  spacing: 2px;
}

#panel .power-status.panel-status-indicators-box {
  spacing: 0;
}

#panel .screencast-indicator {
  color: #FC4138;
}

#panel .remote-access-indicator {
  color: #F27835;
}

#panel.solid {
  background-color: rgba(42, 42, 42, 0.25);
  /* transition from transparent to solid */
  transition-duration: 250ms;
  background-gradient-direction: none;
  text-shadow: none;
}

#panel.solid:overview {
  background-color: transparent;
}

#panel.solid .panel-corner {
  -panel-corner-background-color: rgba(42, 42, 42, 0.25);
}

#panel.solid .panel-button {
  color: white;
  text-shadow: none;
}

#panel.solid .panel-button:active, #panel.solid .panel-button:overview, #panel.solid .panel-button:focus, #panel.solid .panel-button:checked {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px rgba(0, 0, 0, 0.45);
}

#panel.solid .system-status-icon,
#panel.solid .app-menu-icon > StIcon,
#panel.solid .popup-menu-arrow {
  icon-shadow: none;
}

#panel.solid .system-status-icon:active, #panel.solid .system-status-icon:overview, #panel.solid .system-status-icon:focus, #panel.solid .system-status-icon:checked,
#panel.solid .app-menu-icon > StIcon:active,
#panel.solid .app-menu-icon > StIcon:overview,
#panel.solid .app-menu-icon > StIcon:focus,
#panel.solid .app-menu-icon > StIcon:checked,
#panel.solid .popup-menu-arrow:active,
#panel.solid .popup-menu-arrow:overview,
#panel.solid .popup-menu-arrow:focus,
#panel.solid .popup-menu-arrow:checked {
  icon-shadow: 0 1px rgba(0, 0, 0, 0.45);
}

#panel #panelActivities.panel-button > * {
  background-image: url("assets/activities.svg");
  background-position: center top;
  width: 24px;
  height: 24px;
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: none;
  color: transparent;
}

#panel #panelActivities.panel-button:active, #panel #panelActivities.panel-button:overview, #panel #panelActivities.panel-button:focus, #panel #panelActivities.panel-button:checked {
  background-color: transparent;
  border: none;
}

.clock-display-box {
  spacing: 4px;
}

.clock-display-box .clock {
  padding-left: 6px;
  padding-right: 6px;
}

#calendarArea {
  padding: 8px 12px;
}

.calendar {
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
}

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
  margin: 0 8px;
}

.datemenu-displays-section {
  padding-bottom: 0;
}

.datemenu-displays-box {
  spacing: 8px;
}

.datemenu-calendar-column {
  spacing: 8px;
  border: none;
  padding: 0 0;
}

.datemenu-calendar-column:ltr {
  border-left-width: 0;
}

.datemenu-calendar-column:rtl {
  border-right-width: 0;
}

.datemenu-today-button {
  min-height: 48px;
}

.datemenu-today-button .date-label {
  font-size: 18pt;
  font-weight: 400;
}

.message-list-section-list:ltr {
  padding-left: 0;
}

.message-list-section-list:rtl {
  padding-right: 0;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title {
  min-height: 20px;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  color: #afafaf;
}

.datemenu-today-button:hover, .datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.weather-button:hover,
.weather-button:focus,
.events-section-title:hover,
.events-section-title:focus {
  color: #dedede;
  background-color: rgba(255, 255, 255, 0.06);
}

.datemenu-today-button:active,
.world-clocks-button:active,
.weather-button:active,
.events-section-title:active {
  color: #dedede;
  background-color: rgba(255, 255, 255, 0.1);
}

.world-clocks-header,
.weather-header,
.events-section-title {
  color: #afafaf;
  font-weight: bold;
}

#appMenu {
  spacing: 6px; }
  #appMenu .label-shadow {
    color: transparent; }

/* Activities Ripple */
.ripple-box {
  width: 48px;
  height: 48px;
  border-radius: 0 0 48px 0;
  background-color: rgba(8, 96, 242, 0.35);
  background-image: none;
  background-size: auto;
}

.ripple-box:rtl {
  border-radius: 0 0 0 48px;
  background-image: none;
}

/* OVERVIEW */
#overview {
  spacing: 24px;
  background-color: transparent; }

.overview-controls {
  padding-bottom: 32px; }

/* Window Picker */
.window-picker {
  -horizontal-spacing: 16px;
  -vertical-spacing: 16px;
  padding: 0 16px 32px;
}

.window-picker.external-monitor {
  padding: 16px;
}

.window-clone-border {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.window-caption {
  spacing: 25px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 4px 8px;
  border: none;
  font-weight: normal;
}

.window-close {
  background-color: #8AB4F8;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 2px;
  height: 20px;
  width: 20px;
  transition-duration: 250ms;
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -shell-close-overlap: 12px; }
  .window-close:hover {
    background-color: #b1ccf7; }
  .window-close:active {
    background-color: #7f9fd3; }


.search-entry {
  width: 304px;
  padding: 8px 8px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  caret-color: rgba(255, 255, 255, 0.85);
  selection-background-color: rgba(255, 255, 255, 0.3);
  selected-color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px !important;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05); 
  transition-duration: 150ms }
  
  .search-entry:hover {
    background-color: rgba(255, 255, 255, 0.18);
    border-color: rgba(32, 31, 30, 0.5);
    color: #e6e6e6; }
  
  .search-entry:focus {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.18);
    padding: 8px 8px;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    border-color: #aecaf7;
    box-shadow: inset 0 0 0 1px #aecaf7; }
  
  .search-entry .search-entry-icon {
    icon-size: 16px;
    padding: 0 0;
    color: rgba(255, 255, 255, 0.5); }

/* Search */
#searchResultsContent {
  max-width: 1024px;
  spacing: 8px; }

.search-section {
  spacing: 8px; }
  .search-section .search-section-separator {
    height: 0;
    background-color: transparent; }

.search-section-content {
  background-color: rgba(44, 44, 44, 0.2);
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #F6F6F6;
  padding: 18px;
  spacing: 8px; }

.list-search-result:focus, .search-provider-icon:focus, .list-search-result:hover, .search-provider-icon:hover, .list-search-result:selected, .search-provider-icon:selected {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  transition-duration: 200ms;
  text-shadow: none; }

.list-search-result:active, .search-provider-icon:active, .list-search-result:checked, .search-provider-icon:checked {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none; }

.search-provider-icon .list-search-provider-content {
  spacing: 12px; }
  .search-provider-icon .list-search-provider-content .list-search-provider-details {
    width: 120px;
    margin-top: 0; }

.list-search-results {
  spacing: 6px; }

.list-search-result .list-search-result-content {
  spacing: 6px; }

.list-search-result .list-search-result-title {
  spacing: 12px; }

.list-search-result .list-search-result-description {
  color: rgba(246, 246, 246, 0.6); }

.list-search-result:focus .list-search-result-description, .list-search-result:hover .list-search-result-description, .list-search-result:selected .list-search-result-description, .list-search-result:active .list-search-result-description, .list-search-result:checked .list-search-result-description {
  color: rgba(0, 0, 0, 0.5); }

/* App Grid */
.icon-grid {
  spacing: 30px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px;
}

.icon-grid .overview-icon {
  icon-size: 96px;
}

/* App Icons */
.app-well-app .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
  color: #fff; 
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 10px; 
  transition-duration: 150ms; }

.app-well-app.app-folder > .overview-icon {
  background-color: rgba(255, 255, 255, 0.15); }

.app-well-app:hover .overview-icon, .app-well-app:selected .overview-icon,
.show-apps:hover .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:selected .overview-icon {
  background-color: rgba(255, 255, 255, 0.2); }

.app-well-app:focus .overview-icon,
.show-apps:focus .overview-icon,
.grid-search-result:focus .overview-icon {
  background-color: rgba(255, 255, 255, 0.3); }

.app-well-app:drop .overview-icon,
.grid-search-result:drop .overview-icon {
  background-color:#8AB4F8; }

.app-well-app:active .overview-icon, .app-well-app:checked .overview-icon,
.show-apps:active .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
  background-color: rgba(19, 19, 19, 0.2); }

.app-well-app .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px 8px; }
  .app-well-app .overview-icon.overview-icon-with-label > StBoxLayout,
  .grid-search-result .overview-icon.overview-icon-with-label > StBoxLayout {
    spacing: 6px; }

/* App Folders */
.app-folder-dialog {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  spacing: 12px;
  background-color: rgba(19, 19, 19, 0.65); }
  .app-folder-dialog .folder-name-container {
    padding: 24px 36px 0;
    spacing: 12px;
    /* FIXME: this is to keep the label in sync with the entry */ }
    .app-folder-dialog .folder-name-container .folder-name-label, .app-folder-dialog .folder-name-container .folder-name-entry {
      font-size: 18pt;
      font-weight: bold; }
    .app-folder-dialog .folder-name-container .folder-name-entry {
      width: 300px; }
    .app-folder-dialog .folder-name-container .folder-name-label {
      padding: 5px 7px;
      color: rgba(255, 255, 255, 0.8); }
    .app-folder-dialog .folder-name-container .edit-folder-button {
      padding: 0;
      width: 36px;
      height: 36px;
      border-radius: 18px; }
      .app-folder-dialog .folder-name-container .edit-folder-button > StIcon {
        icon-size: 16px; }
  .app-folder-dialog StButton#vhandle, .app-folder-dialog StButton#vhandle:hover, .app-folder-dialog StButton#vhandle:active {
    background-color: transparent; }

.app-folder-dialog-container {
  padding: 12px;
  width: 800px;
  height: 600px; }

.app-folder-icon {
  padding: 6px;
  spacing-rows: 6px;
  spacing-columns: 6px; }

.app-well-app-running-dot {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-color: #F6F6F6;
  margin-bottom: 3px; }

.rename-folder-popup .rename-folder-popup-item {
  spacing: 6px; }
  .rename-folder-popup .rename-folder-popup-item:ltr, .rename-folder-popup .rename-folder-popup-item:rtl {
    padding: 0 12px; }

.app-menu,
.app-well-menu {
  max-width: 27.25em; }

.page-indicator {
  padding: 15px 20px; }
  .page-indicator .page-indicator-icon {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white; }

.all-apps,
.frequent-apps > StBoxLayout {
  padding: 0px 88px 10px 88px; }

.system-action-icon {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 99px;
  icon-size: 48px; }

/* Frequent | All toggle */
.app-view-controls {
  padding-bottom: 32px; }

.app-view-control {
  padding: 4px 32px;
  margin: 0 4px; }
  .app-view-control, .app-view-control:hover, .app-view-control:checked {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(230, 230, 230, 0);
    text-shadow: none;
    icon-shadow: none;
    color: #b6b6b6; }
  .app-view-control:hover {
    color: #F6F6F6;
    box-shadow: inset 0 -2px #b6b6b6; }
  .app-view-control:active {
    box-shadow: inset 0 -2px #F6F6F6; }
  .app-view-control:checked {
    color: #F6F6F6;
    box-shadow: inset 0 -2px #8AB4F8; }
  .app-view-control:first-child {
    border-right-width: 0;
    border-radius: 0; }
  .app-view-control:last-child {
    border-radius: 0; }

/* Workspace pager */
.workspace-thumbnails {
  visible-width: 32px;
  spacing: 6px;
  padding: 6px;
  border-radius: 8px 0 0 8px;
  border-right-width: 0; }
  .workspace-thumbnails:rtl {
    border-radius: 0 8px 8px 0;
    border-left-width: 0; }
  .workspace-thumbnails .placeholder {
    background-image: url("assets/dash-placeholder.svg");
    background-size: contain;
    height: 24px; }

.workspace-thumbnail-indicator {
  border: 3px solid #8AB4F8;
  border-radius: 3px;
  padding: 0px; }

/* Tiled window previews */
.tile-preview {
  background-color: rgba(148, 235, 235, 0.5);
  border: 1px solid #8AB4F8; }

.tile-preview-left.on-primary {
  border-radius: 5px 0 0 0; }

.tile-preview-right.on-primary {
  border-radius: 0 5px 0 0; }

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 5px 5px 0 0; }
